<div class="b-example-divider"></div>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">BENEFICIOS</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Costos accesibles</h2>
      <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <div class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3"  style="width: 70px; height: 70px; background-color: #424240">
        <i class="fa fa-usd" aria-hidden="true" style="color: #ffffff;" ></i>
      </div>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient fs-4 rounded-3"  style="width: 70px; height: 70px; background-color:#508CB4 ">
            <i class="fa fa-handshake-o " aria-hidden="true" style="color: #ffffff;"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Servicios a al medida</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
          
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3" style="width: 70px; height: 70px; background-color:#508CB4">
            <i class="fa fa-handshake-o " aria-hidden="true" style="color: #ffffff;"></i>
          </div>
         
          <h4 class="fw-semibold mb-0 text-body-emphasis">Atención personalizada</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center  bg-gradient fs-4 rounded-3"  style="width: 70px; height: 70px; background-color:#508CB4">
            <i class="fa fa-car " aria-hidden="true" style="color: #ffffff;"></i>
          </div>

          <h4 class="fw-semibold mb-0 text-body-emphasis">Sin costos de envio </h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-gradient   fs-4 rounded-3" style="width: 70px; height: 70px; background-color:#508CB4">
            <i class="fa fa-bolt" aria-hidden="true " style="color: #ffffff;"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Electrónica de nueva generación</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</div>
