



<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary" style="background-image: url(assets/componente1.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="col-md-6 p-lg-5 mx-auto my-5" > 
      <h1 class="display-3 fw-bold " style="color: #ffff; ">Electrónica </h1><br><br><br>
      <h3 class="fw-normal  mb-3"  style="color: #ffff; ">Nueva generación</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette"  style="background-color: rgb(237, 251, 253);">


    <div class="col-md-7 ">
      <h2 class="featurette-heading fw-normal lh-1 text-center"><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;Se<span class="text-body-secondary">It’ll blow your mind.</span></h2>
      <p class="lead text-center">Some great placeholder content for the first featurette here. </p>
      
    </div>

    <div class="col-md-5 ">
      <video class="text-center justify-content-center " src="assets/circuito.mp4" type="video/mp4" autoplay muted loop  style="width: 590px; height: 400px; "></video>
  </div>



  <hr class="featurette-divider">

  <div class="row featurette ">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1 text-center"><br><br><br><br>Costos accesibles <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead text-center"> to give you an idea of how this layout would work with some actual </p>
    </div>
    <div class="col-md-5 order-md-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <video class="text-center justify-content-center " src="assets/12.mp4" type="video/mp4" autoplay muted loop  style="width: 590px; height: 400px;"></video>
    </div>   </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 text-center"><br><br><br><br>Trabajamos para todo tipo de Industrias<span class="text-body-secondary"></span></h2>
      <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        
      </p>

      <ol id="lista2">
        <li>Farmaceutico</li>
        <li>Alimenticio</li>
        
           
        <li>Manufactura</li>
        <li>Ferroviario</li> 
    </ol>
      
    </div>

    <div class="col-md-5">
     <img src="assets/arriba2.jpg" style="height: 600px; width: 400px;" alt="">
  </div>

  

